/***************************************** start favourite (h1) *******************************************************/
.favourite div:first-child h1{
    color: #fff;
    margin-top: 50px;
    margin-bottom: 80px;
    text-align: end;
    padding: 20px;
    background-color: var(--main-color);
    width: 200px;
    height: 60px;
    line-height: 20px;
    display: block;
    font-size: 28px;
    border-top-right-radius: 30px;
    border-bottom-right-radius:30px ;
}
/***************************************** end favourite (h1) *******************************************************/

/***************************************** start fav-products *******************************************************/
.favourite .fav-products{
display: flex;
flex-wrap: wrap;
gap: 30px;
justify-content: end;
}
/***************************************** end fav-products *******************************************************/

/***************************************** start fav-products product *******************************************************/
.favourite .fav-products .product{
    padding: 15px;
    background-color: #ddd;
    border: 2px solid var(--main-color);
    width: 60%;
    position: relative;
    height: 350px;
}
.favourite .fav-products .product img{
    height: 100%;
    width: 60%;
}
.favourite .fav-products .product h2{
    font-size: 26px;
    font-family: var(--main-font);
    font-weight: bold;
}
.favourite .fav-products .product h4{
    color: var(--main-color);
}
.favourite .fav-products .product button{
    background-color: var(--main-color);
    color: #fff;
    padding: 15px 30px;
    outline: none;
    border: none;
    font-size: 22px;
    font-family: var(--main-font);
    font-weight: bold;
    display: block; 
    line-height: 20px;
    margin-top: 15px;
    transition: ease 0.3s;
    position: absolute;
    bottom: 30px;
}
.favourite .fav-products .product button:hover{ 
    opacity: 0.6;
}
.favourite .fav-products .product i{ 
    color: #fff;
    background-color: var(--main-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    position: absolute;
    top: 10px;
    cursor: pointer;
}
/***************************************** end fav-products product *******************************************************/

/***************************************** start button del-all *******************************************************/
.favourite .del-all{
    outline: none;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    padding: 15px 30px;
    font-family: var(--main-font);
    font-weight: bold;
    display: flex;
    margin: auto;
    margin-top: 80px;
    width: 40%;
    justify-content: center;
    font-size: 28px;
    transition:  ease 0.3s;
    opacity: 1;
    border-radius: 10px;
}
.favourite .del-all:hover{
    opacity: 0.6;
}
/***************************************** end button del-all *******************************************************/

/***************************************** end media-quary *******************************************************/



/***************************************** start media-quary *******************************************************/
@media (max-width : 992px) {
    .favourite .fav-products .product{
        width: 100%;
        height: 100%;
    }
}

@media (max-width : 600px) {
    .favourite .fav-products .product img{   
        width: 40%;
    }
    .favourite .fav-products .product button{   
        padding: 10px 20px;
        font-size: 18px;
    }
    .favourite .fav-products .product h2{   
        font-size:20px ;
        margin-right: -13px;
    }
    .favourite .fav-products .product h4{   
        font-size: 16px;
        margin-right: -13px;
        margin-top: 0px;
    }
}

@media (max-width : 480px) {

    .favourite .fav-products .product button{   
        bottom: 10px;
        padding: 5px 10px;
        font-size: 14px;
        font-weight: 100;
    }
    .favourite .fav-products .product i{ 
        width: 20px;
        height: 20px;
        line-height: 20px;
        padding: 0 6px;
        font-size: 12px;
    }
    .favourite .del-all{
        font-size: 20px;
        width: 80%;
    }
}
/***************************************** end media-quary *******************************************************/

